<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section1 Home Page</title>
</head>
<body>
    <div style="float: left;">
        <h1>Registration</h1>
        <form action="/register" method="POST">
            {% csrf_token %}
            <input type="text" name="fname" placeholder="First Name"> <br>
            <input type="text" name="lname" placeholder="Last Name"> <br>
            <input type="email" name="email" placeholder="Email"> <br>
            <input type="password" name="passwd" placeholder="Password"> <br>
            <input type="password" name="conpasswd" placeholder="Conf Password"> <br>
            <input type="submit" value="Register">
        </form>
    </div>

    <div style="float: right;">
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email"> <br>
            <input type="password" name="passwd" placeholder="Password"> <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>